html,body
{
    height: 100%;
    margin: 0;
    padding: 0;
    background: none repeat scroll 0 0 #222222;
}
body {
    color: #666666;
    font-family: "Trebuchet MS",Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 11px;
}
h1 {
    text-align:center;
    color: #DDDDDD;
    font-size: 2.2em;
    font-weight: normal;
    padding: 20px 0;
    text-shadow: 0 0 2px #FFFFFF;
}
a {
    color:#fff;
}
#container{
    text-align:center;
}
.flickr img{
    padding:5px;
}
#wrapper{
    width:100%;
    height:100%;
}
.fb-comments{
    margin:20px 0 0 0;
    border-top: 1px solid #444444;
    border-bottom: 1px solid #444444;
    padding: 20px 10px 10px 10px;
    text-align:center;
    width:100%;
    -moz-box-shadow: 1px 1px 4px #000000;
    -webkit-box-shadow:1px 1px 4px #000000;
    box-shadow:1px 1px 4px #000000;
}